.layout-container {
  display: flex;
  height: 100vh; /* Adjust height as needed */
}

main {
  flex: 1; /* Allow main content to grow and occupy remaining space */
  overflow-y: auto; /* Add scroll if content exceeds available space */
}